server:
  port: ${SERVER_PORT:8080}

logging:
  pattern:
    level: "%5p"
  level:
    org.springframework.cache: TRACE

spring:
  application:
    name: item_cache.webservice

  flyway:
    enabled: true
    locations: classpath:db/migration
  r2dbc:
    host: ${POSTGRES_HOST:item_postgres-db}
    port: ${POSTGRES_PORT:5432}
    database: ${POSTGRES_DB:itemsdb}
    username: ${POSTGRES_USER:item_user}
    password: ${POSTGRES_PASSWORD:item_pass}
    pool:
      initial-size: 5
      enabled: true
      validation-query: SELECT 1
      max-size: 10
      max-idle-time: 30m
  data:
    r2dbc:
      repositories:
        enabled: true
    redis:
      database: 0
      repositories:
        enabled: true
      host: ${REDIS_HOST:item_redis}
      port: ${REDIS_PORT:6379}
      client-type: lettuce
      timeout: 300

#  # Spring cache:
  cache:
    type: redis


  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  jackson:
    serialization:
      write-dates-as-timestamps: false
  sql:
    init:
      platform: postgres

management:
  endpoints:
    access:
      default: read_only
    web:
      base-path: /
      exposure:
        include: "*"




# Redis cache configuration:
cache:
  redis:
    ttl: ${REDIS_TTL:300}
